@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//Note : Variables pour le Scss


//INFO: Fonts
$mainFont: 'Montserrat', sans-serif;
$bootIconFont: 'Bootstrap Icons';
$mainFontSize: 1rem;
$FontSize24: 1.5rem;
$FontW500: 500;
$FontW700: 700;
$FontW900: 900;

//INFO: Icons
$chevronUp: '\F286';

