@use './../Var_Mixins.scss'as vm;
@use './../Components/AccommodationHeader_Infos.scss';
@use './../Components/Tags.scss';
@use './../Components/RatingStars.scss';


.accommodations{
    margin: 1% 7% 3% 7%;
    .banner{
        margin: 0;
        .banner__container{
            display: block;
            height: 415px;
            box-shadow: none;
            border-radius:unset;
            &::before{
                display: none;
            }
        }
    }
    .informations{       
        .tagsAndStars{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
        }
        .informationsToggleBtn{                        
                display: flex;                
                justify-content: space-between;
                column-gap: 15%;
                margin-top: 2%;
            
            .collapseBtn__container{
                @include vm.collapseBtnContainer($justify: unset);
                flex-shrink: 1;
                &--btn{
                    @include vm.collapseBtnContainerBtn($borderRadius: vm.$borderRadius10, $width: vm.$width100);
                    padding: 10px 20px 10px 10px;
                    &--title{
                        @include vm.collapseBtnTitle;
                    }
                }
                &-icon{
                    @include vm.collapseBtnIcon;
                    svg{
                        font-size: 1rem;
                    }
                }                
            }
        }        
        .collapseBtn__container--btn[aria-expanded="true"] {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .collapseBtn__container--content{
            @include vm.collapseBtnContent($width: vm.$width100, $height: auto);
            .toDownToUp{
                overflow: hidden;
                max-height: 0;
                transition: max-height 0.15s ease-in-out,                                  
            }
            .toDownToUp[aria-hidden="false"]{              
                max-height: 300px;                
            }
            .toDownToUp[aria-hidden="true"]{               
                max-height: 0;                
            }
            .contentText{
                @include vm.collapseBtnContentText;
            }
            .equipments__list{
                @include vm.collapseBtnContentText;
            }
        }
    }
}
