@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.accommodation__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accommodation__header .rent__container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 170px;
  row-gap: 5%;
}
.accommodation__header .rent__container--name {
  font-weight: 500;
  font-size: 2.25rem;
  color: #FF6060;
}
.accommodation__header .rent__container--location {
  color: #000;
  font-weight: 500;
  font-size: 1.125rem;
}
.accommodation__header .host {
  display: flex;
  align-items: center;
}
.accommodation__header .host__description {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  row-gap: 5%;
  width: 100%;
  height: 100%;
}
.accommodation__header .host__description--surname, .accommodation__header .host__description--firstname {
  color: #FF6060;
  font-weight: 500;
  font-size: 1.125rem;
}
.accommodation__header .host__picture {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.accommodation__header .host__picture--img {
  clip-path: circle(50% at 50% 50%);
  width: 100%;
  object-fit: cover;
}

.tags__container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  column-gap: 3%;
}
.tags__container .tags__container--tag {
  background-color: #FF6060;
  padding: 0.5% 4%;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 0.875rem;
  white-space: nowrap;
}

.rating {
  display: flex;
  justify-content: center;
}
.rating__container {
  display: flex;
  justify-content: center;
  column-gap: 10%;
  width: 100%;
}
.rating__container--Stars {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating__container--Stars svg {
  width: 24px;
  height: 24px;
}
.rating__container--Stars-Pink {
  color: #FF6060;
}
.rating__container--Stars-Grey {
  color: #E3E3E3;
}

.accommodations {
  margin: 1% 7% 3% 7%;
}
.accommodations .banner {
  margin: 0;
}
.accommodations .banner .banner__container {
  display: block;
  height: 415px;
  box-shadow: none;
  border-radius: unset;
}
.accommodations .banner .banner__container::before {
  display: none;
}
.accommodations .informations .tagsAndStars {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.accommodations .informations .informationsToggleBtn {
  display: flex;
  justify-content: space-between;
  column-gap: 15%;
  margin-top: 2%;
}
.accommodations .informations .informationsToggleBtn .collapseBtn__container {
  display: flex;
  flex-flow: column;
  justify-content: unset;
  align-items: center;
  width: 100%;
  flex-shrink: 1;
}
.accommodations .informations .informationsToggleBtn .collapseBtn__container--btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: #FF6060;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
}
.accommodations .informations .informationsToggleBtn .collapseBtn__container--btn--title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 15px 8px 15px;
}
.accommodations .informations .informationsToggleBtn .collapseBtn__container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 0px;
  width: 5%;
  height: 40px;
  cursor: pointer;
  border: none;
}
.accommodations .informations .informationsToggleBtn .collapseBtn__container-icon svg {
  font-size: 1rem;
}
.accommodations .informations .collapseBtn__container--btn[aria-expanded=true] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accommodations .informations .collapseBtn__container--content {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 5px;
}
.accommodations .informations .collapseBtn__container--content .toDownToUp {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s ease-in-out;
}
.accommodations .informations .collapseBtn__container--content .toDownToUp[aria-hidden=false] {
  max-height: 300px;
}
.accommodations .informations .collapseBtn__container--content .toDownToUp[aria-hidden=true] {
  max-height: 0;
}
.accommodations .informations .collapseBtn__container--content .contentText {
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 30px 25px;
}
.accommodations .informations .collapseBtn__container--content .equipments__list {
  line-height: 2;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 30px 25px;
}

/*# sourceMappingURL=Accommodations.css.map */
