@use "../Var_Mixins.scss" as vm;

.CollapseListBtn__container{
   @include vm.collapseListBtnContainer;
    .collapseBtn__container{
        @include vm.collapseBtnContainer;
        
        .collapseBtn__container--btn{
            @include vm.collapseBtnContainerBtn;
            .collapseBtn__container--title{
                @include vm.collapseBtnTitle;
            }
            .collapseBtn__container--btn-icon{
                @include vm.collapseBtnIcon;                
                svg{
                    font-size: 1rem;
                }
            }
        }

       .collapseBtn__container--btn[aria-expanded="true"] {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .collapseBtn__container--content{
            @include vm.collapseBtnContent;
            .toDownToUp{
                @include vm.toDownToUp;                                       
            }
            .toDownToUp[aria-hidden="false"]{              
                max-height: 500px;
            }
            .toDownToUp[aria-hidden="true"]{               
                max-height: 0;
            }
            .contentText{
             @include vm.collapseBtnContentText;
            }
        }        
    }
}
// Info : media queries
@media (max-width: 1023px) and (min-width: 320px) {
    .CollapseListBtn__container {
        margin: 5%;
        row-gap: 20px;
    }

    .collapseBtn__container {
        height: auto;

        .collapseBtn__container--btn {
            width: 100% !important;
            height: auto !important;
        }

        .collapseBtn__container--title {
            font-size: 0.85rem !important;
        }
    }

    .collapseBtn__container--content {
        width: 100% !important;
        overflow: hidden; // Empêche le débordement du contenu
        max-height: 0; // Hauteur initiale fermée
        transition: max-height 0.15s ease-in-out; // Transition fluide pour l'ouverture et la fermeture
    }

    .collapseBtn__container--content[aria-hidden="false"] {
        max-height: 500px; // Ajustez cette valeur pour couvrir la hauteur maximale du contenu
    }

    .collapseBtn__container--content[aria-hidden="true"] {
        max-height: 0; // Réduit la hauteur à 0 lorsqu'il est fermé
    }
    .contentText{
        font-size: 0.75rem !important;
    }
}