@use "../Var_Mixins.scss" as vm;

.CollapseListBtn__container{
   @include vm.collapseListBtnContainer;
    .collapseBtn__container{
        @include vm.collapseBtnContainer;
        
        .collapseBtn__container--btn{
            @include vm.collapseBtnContainerBtn;
            .collapseBtn__container--title{
                @include vm.collapseBtnTitle;
            }
            .collapseBtn__container--btn-icon{
                @include vm.collapseBtnIcon;                
                svg{
                    font-size: 1rem;
                }
            }
        }

       .collapseBtn__container--btn[aria-expanded="true"] {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .collapseBtn__container--content{
            @include vm.collapseBtnContent;
            .toDownToUp{
                @include vm.toDownToUp;                                       
            }
            .toDownToUp[aria-hidden="false"]{              
                max-height: 200px;
            }
            .toDownToUp[aria-hidden="true"]{               
                max-height: 0;
            }
            .contentText{
             @include vm.collapseBtnContentText;
            }
        }        
    }
}