@use "../Var_Mixins.scss" as vm;


.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #FFFFFF;
    .containerLogo{
        display: flex;
        align-items: center;
        width:20%;
        height: 100%;
        &__Kasa{            
            height: 64%;            
        }
    }
    .navList{
        display: flex;        
        margin: 0; 
        padding: 0;
        width: 33%;
        column-gap: 15%;
        .navLink{          
            list-style: none;
            &__link{
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 100%;
                color: #000000;                
                text-decoration: none;
                font-family: vm.$mainFont;
                font-size: vm.$FontSize24;
                font-weight: vm.$FontW500;
                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 0.1em;
                    text-decoration-skip-ink: none;
                    
                }
            }

        }
    }

}
    
    
