@use "../Var_Mixins.scss" as vm;


.nav{
    @include vm.Nav;
    .containerLogo{
        @include vm.containerLogo;
        &__Kasa{            
            height: 64%;            
        }
    }
    .navList{
        @include vm.navList;
        .navLink{          
            &__link{
                @include vm.nav__Link;
                &:hover{
                    text-decoration: underline;
                    text-underline-offset: 0.1em;
                    text-decoration-skip-ink: none;                    
                }
            }

        }
    }
     // Styles pour les dimensions comprises entre 320px et 1024px
     @media (max-width: 1023px) and (min-width: 320px) {
        .containerLogo {
            width: 30%; // Réduit la taille du logo
            &__Kasa {
                height: 50%; // Ajuste la hauteur du logo
            }
        }

        .navList {           
            width: 100%; // Prend toute la largeur disponible
            column-gap: 10%; // Ajoute un espace entre les éléments
            .navLink {
                &__link {
                    font-size: 0.75rem; // Réduit la taille de la police
                    text-align: center; // Centre les liens
                }
            }
        }
    }

}
    
    
