@use './../Var_Mixins.scss'as vm;

.rating{
    @include vm.rating;
    &__container{
        @include vm.ratingContainer;
        &--Stars{
            display: flex;
            justify-content: center;
            align-items: center;
            
            svg{
                width: 24px;
                height: 24px;
            }
            &-Pink{
                color: vm.$pinkStars;
            }
            &-Grey{
                color: vm.$greyStars;
            }        
        }
    }
}
