@use './../Var_Mixins.scss' as vm;

.tags__container{
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    height: 100%;
    column-gap: 3%;

    .tags__container--tag{               
        background-color: vm.$bckColorToggleBtn;        
        padding: 0.5% 4%;
        border-radius: 10px;
        color: vm.$colorWhite;
        font-weight: vm.$FontW700;
        font-size: vm.$FontSize14;
        white-space: nowrap;                     
    }
}